// Colors
$black: #000000;
$blue: #5D91D9;
$gray: #AFAFAF;
$grey: #939393;

// Fonts Setting
$userfont: "Gilroy";

// GRID -----------------------------------

// Mobile fisrt breakpoint ---

$firstXS: 577px;
$firstMD: 768px;
$firstLG: 992px;
$firstXL: 1280px;
$firstXXL: 1340px;
$firstEXL: 1680px;

// Mobile last breakpoint ---

$lastXS: 576px;
$lastMD: 767px;
$lastLG: 991px;
$lastXL: 1279px;
$lastXXL: 1339px;
$lastEXL: 1679px;

@mixin font ($fz, $lh) {
    font-size: $fz;
    line-height: $lh;
}

@mixin heading-h1{
    font-size: 4.5rem;
    font-weight: 700;

    @media (max-width: 991px) {
        font-size: 4rem;
    }

    @media (max-width: 576px) {
        font-size: 2.2rem;
    }
}

.heading-h1{
    @include heading-h1()
}

@mixin heading-h2{
    font-size: 3.6rem;
    line-height: 136%;
    font-weight: 700;

    @media (max-width: 991px) {
        font-size: 3rem;
        line-height: 140%;
    }

    @media (max-width: 576px) {
        font-size: 1.8rem;
    }
}

.heading-h2{
    @include heading-h2()
}

@mixin heading-20{
    font-size: 2rem;
    line-height: normal;
    font-weight: 700;

    @media (max-width: 991px) {
        font-size: 1.6rem;
    }

    @media (max-width: 576px) {
        font-size: 1.4rem;
    }
}

.heading-20{
    @include heading-20()
}

// Mixin

@mixin animate {
    transition: all 0.3s ease;
}

@mixin flex {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    @include flex;
}

@mixin flex-ss {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-ss {
    @include flex-ss;
}

@mixin flex-sc {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.flex-sc {
    @include flex-sc;
}

@mixin flex-sfe {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.flex-sfe {
    @include flex-sfe;
}

@mixin flex-cs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.flex-cs {
    @include flex-cs;
}

@mixin flex-cc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-cc {
    @include flex-cc;
}

@mixin flex-cfe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.flex-cfe {
    @include flex-cfe;
}

@mixin flex-ssb {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-ssb {
    @include flex-ssb;
}

@mixin flex-csb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.flex-csb {
    @include flex-csb;
}

@mixin icomoon($icon) {
    display: inline-block;
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: $icon;
}